# Configurações do Flask
SECRET_KEY=ufrj-move-super-secret-key
# DATABASE_URL=sqlite:///app/ufrj_move.db

# Configurações do JWT
JWT_SECRET_KEY=ufrj-move-jwt-secret-key

# API do Google Maps (Necessário habilitar: Roads API e Distance Matrix API)
GOOGLE_MAPS_API_KEY=sua_chave_de_api_do_google_maps_aqui
